<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}
Setting New password
{% endblock %}
{% block content %}
<!-- prettier-ignore-end -->
<div
  class="d-flex h-100% align-items-center mast_pages"
  style="padding-bottom: 488px;"
>
  {% if validlink %}
  <div class="text-center w-responsive mx-auto mb-5">
    <p style="margin-left: 150px; color: white;">
      Please enter & confirm your new password
    </p>

    <div>
      <form action="" method="post" class="accountform">
        <div style="display: none;">
          <input
            type="hidden"
            value="{{ csrf_token }}"
            name="csrfmiddlewaretoken"
          />
        </div>

        <table>
          <tr>
            <td>
              {{ form.new_password1.errors }}
              <label for="id_new_password1">New password:</label>
            </td>
            <td>{{ form.new_password1 }}</td>
          </tr>
          <tr>
            <td>
              {{ form.new_password2.errors }}
              <label for="id_new_password2">Confirm password:</label>
            </td>
            <td>{{ form.new_password2 }}</td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Change my password" /></td>
          </tr>
        </table>
      </form>
    </div>
    {% else %}
    <div class="mx-auto text-center">
      <h1>Password reset unsuccessful</h1>
      <p style="margin-left: 150px; color: white;">
        The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.
      </p>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
