{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}

<header class="mast_pages" style="padding-top: 100px">
	<div class="container">
		<div class="mx-auto text-center">
			<h2 class="text-white-20 mx-auto mt-2 mb-5">Password Reset</h2>
			<div class="row row-flex align-items-center">
				<div class="row row-flex align-items-center">
					{% if validlink %}
					<div class="text-center w-responsive mx-auto mb-5">
						<h4 class="font-weight-bold" style="padding-bottom: 20px">Please enter your new password
							twice.<br />
           So we can verify you typed it in correctly.</h4>

					</div>

					<div>
						<form action="" method="post" class="accountform">
							<div style="display:none">
								<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

								<table>
									<tr>
										<td>{{ form.new_password1.errors }}
											<label for="id_new_password1">New password:</label></td>
										<td>{{ form.new_password1 }}</td>
									</tr>
									<tr>
										<td>{{ form.new_password2.errors }}
											<label for="id_new_password2">Confirm password:</label></td>
										<td>{{ form.new_password2 }}</td>
									</tr>
									<tr>
										<td></td>
										<td><input type="submit" value="Change my password" /></td>
									</tr>
								</table>
						</form>
					</div>
				</div>
				{% else %}
				<div class="mx-auto text-center">

					<h1>Password reset unsuccessful</h1>
					<p style="margin-left: 150px; color: white">The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>

				</div>
			</div>
			{% endif %}
			{% endblock %}