{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<header class="mast_pages product_layout">
  <div class="mx-auto text-center">
    <h2 class="product_heading text-white-20 mx-auto mt-2 mb-5">Guitars</h2>

    <a
      href="{% url 'products' %}"
      class="btn btn-outline-secondary js-scroll-trigger home_buttons"
      style="color: #fff;"
      >Collection</a
    >
    <a
      href="{% url 'percussion' %}"
      class="btn btn-outline-secondary js-scroll-trigger home_buttons"
      style="color: #fff;"
      >Percussion</a
    >
    <a
      href="{% url 'keyboards' %}"
      class="btn btn-outline-secondary js-scroll-trigger home_buttons"
      style="color: #fff;"
      >Keyboards</a
    >

    <div class="container-fluid">
      <div class="row row-flex align-items-center">
        {% for product in products %}
        <div
          class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel"
        >
          <div
            class="panel-body shadow-lg p-3 mb-5 bg-white rounded panel_surround"
          >
            <div
              class="product"
              style="background-image: url('{{ MEDIA_URL }}{{ product.image1}}')"
            ></div>

            <p class="product_name">{{ product.name }}</p>

            <p>{{product.description_summary}}</p>

            <p>€{{ product.price }}</p>

            <div>
              <a
                href="{% url 'product_detail' product.id %}"
                class="read_more"
                style="align: right;"
              >
                Read more >></a
              >
            </div>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
              {% csrf_token %}
              <div class="input-group">
                <input
                  name="quantity"
                  type="number"
                  min="1"
                  max="999"
                  class="form-control"
                  value="1"
                  placeholder="Quantity"
                />
                <span class="input-group-btn">
                  <button
                    class="btn btn-primary"
                    style="padding: 10px;"
                    type="submit"
                  >
                    Add
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
  <div class="page_color">
    {% if products.count != 0 %}
    <div class="d-flex justify-content-center">
      <div class="pagination">
        <span class="step-links">
          {% if products.has_previous %}
          <a href="?page={{ products.previous_page_number }}" class=""
            >Previous</a
          >
          {% endif %}
          <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
          </span>
          {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}" class="">Next</a>
          {% endif %}
        </span>
      </div>
    </div>
    {% endif %}
  </div>
</header>

{% endblock %}
