{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<header class="mast_pages product_layout">
  <div class="mx-auto text-center">
    <h2
      class="product_heading text-white-20 mx-auto mt-2 mb-5">
      Product Details
    </h2>
  {% for product in products %}

  <div
    class="product_heading col-md-10 mx-auto text-center panel-body shadow-lg p-3 mb-5 bg-white rounded panel_surround"
    style="background-color: white;"
  >
    <h2 class="text-white-20 mx-auto mt-2 mb-5">{{ product.name }}</h2>

    <div class="container">
      <div
        class="row panel-body shadow-lg p-3 mb-5 bg-white rounded panel_surround"
      >
        <div
          class="product_detail"
          style="background-image: url('{{ MEDIA_URL }}{{ product.image1 }}')"
        ></div>
        <div
          class="product_detail"
          style="background-image: url('{{ MEDIA_URL }}{{ product.image2 }}')"
        ></div>
        <div
          class="product_detail"
          style="background-image: url('{{ MEDIA_URL }}{{ product.image3 }}')"
        ></div>
      </div>
    </div>
    <div class="product-title text-left">
      <hr />
      <p class="text-center">
        <span class="font-weight-bold">Product Summary : </span
        ><span>{{ product.description_summary }}</span>
      </p>
      <hr />
      <p class="text-center">
        <span class="font-weight-bold">Manufacturer : </span
        ><span>{{ product.maker }}</span>
      </p>

      <hr />
      <p class="text-center">
        <span class="font-weight-bold">Product Description : </span
        ><span>{{ product.description | linebreaks }}</span>
      </p>

      <hr />
      <p class="text-center">
        <span class="font-weight-bold">Unit Price : </span
        ><span>€{{ product.price }}</span>
      </p>
      <hr />
    </div>
  </div>

  <div class="col-md-2 mx-auto text-center" style="padding-top: 10px;">
    <form method="post" action="{% url 'add_to_cart' product.id %}">
      {% csrf_token %}
      <div class="input-group">
        <input
          name="quantity"
          type="number"
          min="1"
          max="999"
          class="form-control"
          value="1"
          placeholder="Quantity"
        />
        <span class="input-group-btn">
          <button class="btn btn-primary" style="padding: 10px;" type="submit">
            Add
          </button>
        </span>
      </div>
    </form>
  </div>

  {% endfor %}
</header>

{% endblock %}
