/*Main Pages Styles*/

.mast_pages {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.3) 0%,
      rgba(22, 22, 22, 0.7) 75%,
      #161616 100%
    ),
    url("../img/light-grey.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.3) 0%,
      rgba(22, 22, 22, 0.7) 75%,
      #161616 100%
    ),
    url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

caption p {
  word-wrap: break-word;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.panel-default {
  border-color: transparent;
  padding: 0 10px;
}

.panel-body {
  height: 100%;
  border: 1px solid #ddd;
}

/*Product Styles*/

.product {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.product_detail {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.panel_surround {
  background-color: #fff;
  margin: 10px;
  padding-bottom: 5px;
}

.panel_size {
  width: 400px;
  height: 150px;
}

.product_checkout {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.product_name {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 30px;
}

.product-description {
  min-height: 20px;
  font-size: 20px;
}

.product_heading {
  padding-top: 50px;
}

.guitar_panel {
  background-color: #fff;
  margin: 10px;
  padding-bottom: 5px;
}

read_more {
  font-size: 24;
}

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.button_text {
  padding: 5px;
  margin: 5px;
  color: #fff;
}

.nav-text {
  color: #4d4d4d;
  font-weight: bold;
}

.page_color {
  color: #fff;
}

.account_head1 {
  padding-top: 100px;
}

.account_head2 {
  padding-bottom: 20px;
}

.cart_head1 {
  padding-top: 100px;
  padding-bottom: 325px;
}

.cart_panel {
  background-color: #fff;
  margin: 10px;
  padding-bottom: 5px;
}

.checkout_head1 {
  padding-top: 100px;
}

.checkout_total {
  margin: 10px;
  padding: 10px;
}

.order_head1 {
  padding-top: 100px;
}

.contact_head1 {
  padding-top: 50px;
}

.contact_send {
  padding-top: 10px;
}

.message_response {
  padding-top: 400px;
}

.orders_empty {
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
